<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pointer.springbootdemo.mybatis.mapper.CourseMapper">
    <resultMap id="BaseResultMap" type="com.pointer.springbootdemo.mybatis.domin.Course">
        <id column="courseId" property="courseId" jdbcType="INTEGER"/>
        <result column="courseName" property="courseName" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    courseId, courseName
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap"
            parameterType="com.pointer.springbootdemo.mybatis.domin.CourseExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from `web_course`
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap"
            parameterType="com.pointer.springbootdemo.mybatis.domin.CourseKey">
        select
        <include refid="Base_Column_List"/>
        from `web_course`
        where courseId = #{courseId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="com.pointer.springbootdemo.mybatis.domin.CourseKey">
    delete from `web_course`
    where courseId = #{courseId,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="com.pointer.springbootdemo.mybatis.domin.CourseExample">
        delete from `web_course`
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.pointer.springbootdemo.mybatis.domin.Course">
    insert into `web_course` (courseId, courseName)
    values (#{courseId,jdbcType=INTEGER}, #{courseName,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.pointer.springbootdemo.mybatis.domin.Course">
        insert into `web_course`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="courseId != null">
                courseId,
            </if>
            <if test="courseName != null">
                courseName,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="courseId != null">
                #{courseId,jdbcType=INTEGER},
            </if>
            <if test="courseName != null">
                #{courseName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.pointer.springbootdemo.mybatis.domin.CourseExample"
            resultType="java.lang.Integer">
        select count(*) from `web_course`
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update `web_course`
        <set>
            <if test="record.courseId != null">
                courseId = #{record.courseId,jdbcType=INTEGER},
            </if>
            <if test="record.courseName != null">
                courseName = #{record.courseName,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update `web_course`
        set courseId = #{record.courseId,jdbcType=INTEGER},
        courseName = #{record.courseName,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.pointer.springbootdemo.mybatis.domin.Course">
        update `web_course`
        <set>
            <if test="courseName != null">
                courseName = #{courseName,jdbcType=VARCHAR},
            </if>
        </set>
        where courseId = #{courseId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.pointer.springbootdemo.mybatis.domin.Course">
    update `web_course`
    set courseName = #{courseName,jdbcType=VARCHAR}
    where courseId = #{courseId,jdbcType=INTEGER}
  </update>
</mapper>