<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pointer.springbootdemo.mybatis.mapper.QuestionMapper">

<insert id="addQuestion" >
    INSERT INTO Question (id, title, content, userId, createdDate, commentCount)
    VALUES (#{id},#{title},#{content},#{userId},#{createDate},#{commentCount});
</insert>

</mapper>



