<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pointer.springbootdemo.mybatis.mapper.StudentMapper">
    <resultMap id="StudentResultMapper" type="com.pointer.springbootdemo.mybatis.domin.Student">
        <id column="studentId" property="studentId" jdbcType="INTEGER"/>
        <result column="studentName" property="studentName" jdbcType="VARCHAR"/>
        <result column="studentAge" property="studentAge" jdbcType="VARCHAR"/>
        <result column="studentClass" property="studentClass" jdbcType="INTEGER"/>
        <result column="studentNativaPlace" property="studentNativaPlace" jdbcType="VARCHAR"/>
        <result column="studentInstitute" property="studentInstitute" jdbcType="INTEGER"/>
        <result column="studentTeacher" property="studentTeacher" jdbcType="INTEGER"/>
    </resultMap>

    <select id="select" resultMap="StudentResultMapper">
        SELECT
        <include refid="base_where"/>

    </select>



    <!--base公共where sql语句-->
    <sql id="base_where" >
        <where>
            <if test="id!=null">AND id = #{id}</if>
            <if test="salary!=null">AND salary = #{salary}</if>
            <if test="name!=null">AND name = #{name}</if>
            <if test="minSalary!=null">AND salary >= #{minSalary}</if>
            <if test="maxSalary!=null">AND salary &lt;= #{maxSalary}</if>
            <if test="keyword!=null">
                <bind name="keywordLIKE" value="'%',keyword,'%'"/>
                AND (name LIKE #{keywordLIKE} OR id LIKE #{keywordLIKE} OR salary LIKE #{keywordLIKE})
            </if>
        </where>
    </sql>
</mapper>