<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <properties resource="application.properties"/>

    <!--mysql-connector.jar的本地地址-->
    <classPathEntry location="D:\LIB\mysql\mysql-connector-java\8.0.12\mysql-connector-java-8.0.12.jar"/>



    <context id="mysql" defaultModelType="hierarchical" targetRuntime="MyBatis3">

        <!--防止mapper.xml代码重复生成-->
        <property name="mergeable" value="false"/>

        <!-- 生成的Java文件的编码 -->
        <property name="javaFileEncoding" value="UTF-8" />
        <!-- beginningDelimiter和endingDelimiter：指明数据库的用于标记数据库对象名的符号，比如ORACLE就是双引号，MYSQL默认是`反引号； -->
        <property name="beginningDelimiter" value="`" />
        <property name="endingDelimiter" value="`" />

        <!-- 注释生成器 -->
        <commentGenerator>
            <property name="suppressDate" value="true" />
            <property name="suppressAllComments" value="true" />
        </commentGenerator>

        <!-- 必须要有的，使用这个配置链接数据库 @TODO:是否可以扩展 -->
        <jdbcConnection driverClass="${spring.datasource.druid.driver-class-name}" connectionURL="${spring.datasource.druid.url}"
                        userId="${spring.datasource.druid.username}"
                        password="${spring.datasource.druid.password}">
            <!-- 这里面可以设置property属性，每一个property属性都设置到配置的Driver上 -->
            <property name="useInformationSchema" value="true"/>
            <!--解决了无法识别出主键,导致生成mapper.xml中与key有关的sql语句缺失的问题-->
        </jdbcConnection>

        <!-- 生成domain对象 -->
        <javaModelGenerator targetPackage="com.pointer.springbootdemo.mybatis.domin" targetProject="src/main/java">  <!--maven文件格式-->
            <property name="enableSubPackages" value="true" />
        </javaModelGenerator>

        <!-- 生成Mapper文件 -->
        <sqlMapGenerator targetPackage="mapper" targetProject="src/main/resources">
            <property name="enableSubPackages" value="true" />
        </sqlMapGenerator>

        <!-- 生成Mapper接口 -->
        <javaClientGenerator targetPackage="com.pointer.springbootdemo.mybatis.mapper" type="XMLMAPPER" targetProject="src/main/java">
            <property name="enableSubPackages" value="true" />
        </javaClientGenerator>


        <!-- ============================================================================== -->
        <table tableName="web_student" delimitIdentifiers="true" domainObjectName="Student">
            <property name="useActualColumnNames" value="true" />       <!--使用原本的列的名字-->
            <generatedKey column="id" sqlStatement="JDBC" />
        </table>

        <table tableName="web_teacher" delimitIdentifiers="true" domainObjectName="Teacher">
            <property name="useActualColumnNames" value="true" />       <!--使用原本的列的名字-->
            <generatedKey column="id" sqlStatement="JDBC" />
        </table>

        <table tableName="web_course" delimitIdentifiers="true" domainObjectName="Course">
            <property name="useActualColumnNames" value="true" />       <!--使用原本的列的名字-->
            <generatedKey column="id" sqlStatement="JDBC" />
        </table>

        <table tableName="web_institute" delimitIdentifiers="true" domainObjectName="Institute">
            <property name="useActualColumnNames" value="true" />       <!--使用原本的列的名字-->
            <generatedKey column="id" sqlStatement="JDBC" />
        </table>

        <table tableName="user" delimitIdentifiers="true" domainObjectName="User">
            <property name="useActualColumnNames" value="true" />       <!--使用原本的列的名字-->
            <generatedKey column="id" sqlStatement="JDBC" />
        </table>
        <!-- ============================================================================= -->
    </context>
</generatorConfiguration>
